openapi: 3.0.1
info:
  title: National Sample Survey (NSS)
  version: 1.0.11
servers:
- url: https://api.mospi.gov.in/
tags:
- name: National Sample Survey (NSS 78 ROUND).
  description: Indicator-wise National Sample Survey (NSS 78 ROUND).
paths:
  /api/nss-78/getNss78Records:
    get:
      tags:
      - National Sample Survey (NSS 78 ROUND).
      description:
      - Indicator-wise National Sample Survey (NSS 78 ROUND).
      operationId: NSS78IndicatorValues.
      parameters:
      - name: Indicator
        required: true
        in: query
        description: Full indicator name from getIndicatorList (codes 2-15). Short labels cause upstream 500 errors; MCP accepts indicator_code and auto-maps to this value.
        schema:
          default: Percentage of Persons Who Used Mobile Telephone with Active Sim Card at Least Once During Last Three Months Preceding the Date of the Survey
          enum:
          - Percentage of Persons Reported to Have Access to Piped Water into Dwelling or Yard/plot and Reported to Have Access to Improved Source of Drinking Water
          - Percentage of Persons Reported Access to Drinking Water, Exclusive Access to Drinking Water, Access to Improved Source of Drinking Water and Sufficiency of Drinking Water
          - Percentage of Persons Reported Access to Improved Latrine and Exclusive Access to Improved Latrine for Each State, Among Persons Reported to Have Access to Latrine
          - Percentage Distribution of Persons by Availability of Hand Washing Facility Within the Premises
          - Percentage of Persons Who Used Mobile Telephone with Active Sim Card at Least Once During Last Three Months Preceding the Date of the Survey
          - Percentage of Households Reported Access to Broadband Within the Premises and Mass Media (any of Internet, Newspaper, Magazine, Radio, Television Etc)
          - Percentage Distribution of Households by the Availabilty of Basic Transport and Public Facility
          - Percentage of Households Which Have Purchased/ Constructed New House/flat for Residential Purpose After 31.03.2014, Purchased for the First Time and Owned that House/flat as on Date of Survey
          - Percentage Distribution of Different Sources of Finance From Which Maximum Amount was Financed by the Household for New House/flat
          - Percentage of Persons* Whose Current Place of Residence is Different From the Last Usual Place of Residence
          - Percentage Distribution of Persons by Main Reason for Leaving Last Usual Place of Residence
          - Percentage Distribution of Persons Reporting as Earner in the Last Usual Place of Residence by Change in Income Due to Migration
          - Percentage of Persons Willing to Move Out From the Present Place of Residence and Percentage Distribution of such Persons by Main Reason# for Leaving Present Place of Residence
          - Percentage of Households Reporting Possession of Air Conditioner and Air Cooler
      - name: State_code
        in: query
        description: Enter the State code (from 1 to 39. Comma separated for multiple
          values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: Sector_code
        in: query
        description: Enter the Sector code (from 1 to 3. Comma separated for multiple
          values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: Gender_code
        in: query
        description: Enter the Gender code (from 1 to 3. Comma separated for multiple
          values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: AgeGroup_code
        in: query
        description: Enter the AgeGroup code (from 1 to 2. Comma separated for multiple
          values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: InternetAccess_code
        in: query
        description: Enter the InternetAccess code (from 1 to 2. Comma separated for
          multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: main_reason_for_migration_code
        in: query
        description: Filter by main reason for migration code (1-19)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: reason_leaving_household_code
        in: query
        description: Filter by reason for leaving household code (1-19)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: household
        in: query
        description: Filter by household type
        schema:
          type: string
      - name: Subindicator_code
        in: query
        description: Enter the Subindicator code (from 1 to 34. Comma separated for
          multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: Households_code
        in: query
        description: Enter the Households code (from 1 to 3. Comma separated for multiple
          values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: SourceOfFinance_code
        in: query
        description: Enter the SourceOfFinance code (from 1 to 5. Comma separated
          for multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: limit
        in: query
        description: Number of records per page (default 10)
        schema:
          type: integer
          pattern: ^\d+$
          default: 10
      - name: page
        in: query
        description: Page number (from 1 to n)
        schema:
          type: integer
          pattern: ^\d+$
      - name: Format
        required: true
        in: query
        description: Select the Output format
        schema:
          type: string
          default: JSON
          enum:
          - JSON
          - CSV
      responses:
        '200':
          description: A JSON array of user information
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
            text/csv:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
        '409':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Requested item wasn't found!
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      description: Bearer token to access these api endpoints
      name: Authorization
      in: header
x-original-swagger-version: '2.0'
