openapi: 3.0.1
info:
  title: National Family health Survey
  version: 1.0.0
servers:
- url: https://api.mospi.gov.in/
tags:
- name: MFHS.
  description: Indicator-wise nfhs statistics in India.
paths:
  /api/nfhs/getNfhsRecords:
    get:
      summary: Get  data for an indicator
      description: "- **Required:** `indicator_code`  \n- **Filters (optional):**\
        \ sub_indicator_code, state_code, survey_code, _code\n \n"
      parameters:
      - in: query
        name: indicator_code
        required: true
        schema:
          type: integer
          pattern: ^\d+$
        description: Indicator code (primary filter, single value only)
      - in: query
        name: sub_indicator_code
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - in: query
        name: state_code
        schema:
          type: integer
          pattern: ^\d+(,\d+)*$
      - in: query
        name: survey_code
        schema:
          type: integer
          pattern: ^\d+(,\d+)*$
      - in: query
        name: limit
        schema:
          type: integer
          default: 20
          pattern: ^\d+$
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
          pattern: ^\d+$
      - in: query
        name: Format
        required: true
        schema:
          type: string
          default: JSON
          enum:
          - JSON
          - CSV
        description: Output format (JSON or CSV)
      responses:
        '200':
          description: A JSON array of user information
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
            text/csv:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      description: Bearer token to access these api endpoints
      name: Authorization
      in: header
x-original-swagger-version: '2.0'
