openapi: 3.0.1
info:
  title: National Sample Survey (NSS 79th Round)
  version: 1.0.0
servers:
- url: https://api.mospi.gov.in/
tags:
- name: National Sample Survey (NSS 79th Round - CAMS + AYUSH)
  description: Comprehensive Annual Modular Survey (CAMS) and AYUSH module - NSS 79th Round.
paths:
  /api/nss-79/getNSS79Records:
    get:
      tags:
      - National Sample Survey (NSS 79th Round - CAMS + AYUSH)
      description: Indicator-wise data from NSS 79th Round. Indicators 1-28 are CAMS module, indicators 29-35 are AYUSH module.
      operationId: NSS79IndicatorValues
      parameters:
      - name: indicator_code
        required: true
        in: query
        description: Indicator code (1-35). Indicators 1-28 = CAMS module (education, health, digital literacy, household conditions). Indicators 29-35 = AYUSH module (awareness, usage, treatment, expenditure).
        schema:
          type: integer
      - name: sub_indicator_code
        in: query
        description: Sub-indicator code (comma separated for multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: sector_code
        in: query
        description: Sector code (1=Rural, 2=Urban, 3=All. Comma separated for multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: state_code
        in: query
        description: State code (1-37 including All India. Comma separated for multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: gender_code
        in: query
        description: Gender code (1=Male, 2=Female, 3=Person. Comma separated for multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: age_group_code
        in: query
        description: Age group code (comma separated for multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: survey_code
        in: query
        description: Survey code (default 1)
        schema:
          type: integer
          default: 1
      - name: school_type_code
        in: query
        description: School type code (comma separated for multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: major_reason_code
        in: query
        description: Major reason code (comma separated for multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: ayush_use_reason_code
        in: query
        description: AYUSH use reason code (comma separated for multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: ayush_treatment_type_code
        in: query
        description: AYUSH treatment type code (comma separated for multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: ayush_therapy_code
        in: query
        description: AYUSH therapy code (comma separated for multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: internet_access_code
        in: query
        description: Internet access code (comma separated for multiple values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: limit
        in: query
        description: Number of records per page (default 20)
        schema:
          type: integer
          default: 20
      - name: page
        in: query
        description: Page number (from 1 to n)
        schema:
          type: integer
          minimum: 1
      - name: Format
        in: query
        description: Output format (JSON or xlsx for Excel download)
        schema:
          type: string
          default: JSON
          enum:
          - JSON
          - xlsx
      responses:
        '200':
          description: A JSON array of indicator data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      description: Bearer token to access these api endpoints
      name: Authorization
      in: header
x-original-swagger-version: "2.0"
