openapi: 3.0.1
info:
  title: National Sample Survey (NSS 76th Round)
  version: 1.0.0
servers:
- url: https://api.mospi.gov.in/
tags:
- name: NSS76
  description: National Sample Survey 76th Round.
paths:
  /api/nss-76/getNss76Records:
    get:
      tags:
      - NSS76
      operationId: NSS76IndicatorValues.
      description: |
        - **Required:** `indicator_code`
        - **Required in practice:** `survey_code` (1=Disability indicators 1-13, 2=Housing & drinking water indicators 14-26)
        - **Multi-value:** every filter `*_code` accepts comma-separated values (e.g. `state_code=1,2,3`)
        - **Shared filters (optional):** sub_indicator_code, state_code (37=All India), sector_code, gender_code, quintile_class_code, month_code
        - **Disability-module filters (survey_code=1):** disability_type_code, treatment_taken_code, arrangement_of_caregiver_code, use_of_public_transport_code, status_of_receipt_of_aid_help_code
        - **Housing & water-module filters (survey_code=2):** principal_source_of_drinking_water_code, supplementary_source_of_drinking_water_code, method_of_treatment_of_water_code, households_percentage_code, number_of_days_code, type_of_structure_code, material_category_type_code, dwelling_units_code, tenurial_status_code, distribution_by_plinth_level_code, percentage_houses_number_floors_house_code, percentage_houses_separate_kitchen_code, type_of_approach_road_code, types_of_latrine_uses_code, agency_emptied_code, distribution_by_experience_of_flood_code
        - **Metadata/filters API (not in this path):** `/api/nss-76/getNSS76FilterByIndicatorId`
        - **Indicators API (not in this path):** `/api/nss-76/getIndicatorList?survey_code=1|2`

      parameters:
        - in: query
          name: indicator_code
          required: true
          schema: { type: integer }
          description: Enter the indicator code (1-13 Disability module, 14-26 Housing & water module; code 17 unused)
        - in: query
          name: survey_code
          schema: { type: string }
          description: Survey module code (1=Disability, 2=Housing & drinking water)

        # --- Shared filters (apply across both modules) ---
        - in: query
          name: sub_indicator_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Sub-indicator code (comma separated for multiple values)
        - in: query
          name: state_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: State / UT code (1-36 states/UTs, 37=All India; comma separated for multiple values)
        - in: query
          name: sector_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Sector code (1-3; comma separated for multiple values)
        - in: query
          name: gender_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Gender code (1-3; comma separated for multiple values)
        - in: query
          name: quintile_class_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Quintile class code (1-15; comma separated for multiple values)
        - in: query
          name: month_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Month code (1-13; comma separated for multiple values)

        # --- Disability module filters (survey_code=1) ---
        - in: query
          name: disability_type_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Type of disability code (1-8; comma separated for multiple values)
        - in: query
          name: treatment_taken_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Treatment taken code (1-10; comma separated for multiple values)
        - in: query
          name: arrangement_of_caregiver_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Arrangement of caregiver code (1-4; comma separated for multiple values)
        - in: query
          name: use_of_public_transport_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Use of public transport code (1-4; comma separated for multiple values)
        - in: query
          name: status_of_receipt_of_aid_help_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Status of receipt of aid/help code (1-6; comma separated for multiple values)

        # --- Housing & drinking water module filters (survey_code=2) ---
        - in: query
          name: principal_source_of_drinking_water_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Principal source of drinking water code (1-20; comma separated for multiple values)
        - in: query
          name: supplementary_source_of_drinking_water_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Supplementary source of drinking water code (1-19; comma separated for multiple values)
        - in: query
          name: method_of_treatment_of_water_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Method of treatment of water code (1-3; comma separated for multiple values)
        - in: query
          name: households_percentage_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Households percentage code (1-6; comma separated for multiple values)
        - in: query
          name: number_of_days_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Number of days code (1-4; comma separated for multiple values)
        - in: query
          name: type_of_structure_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Type of structure code (1-8; comma separated for multiple values)
        - in: query
          name: material_category_type_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Material category type code (1-9; comma separated for multiple values)
        - in: query
          name: dwelling_units_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Dwelling units code (1-7; comma separated for multiple values)
        - in: query
          name: tenurial_status_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Tenurial status code (1-4; comma separated for multiple values)
        - in: query
          name: distribution_by_plinth_level_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Distribution by plinth level code (1-7; comma separated for multiple values)
        - in: query
          name: percentage_houses_number_floors_house_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Percentage houses number floors house code (1-6; comma separated for multiple values)
        - in: query
          name: percentage_houses_separate_kitchen_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Percentage houses separate kitchen code (1-3; comma separated for multiple values)
        - in: query
          name: type_of_approach_road_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Type of approach road code (1-5; comma separated for multiple values)
        - in: query
          name: types_of_latrine_uses_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Types of latrine uses code (1-6; comma separated for multiple values)
        - in: query
          name: agency_emptied_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Agency emptied code (1-7; comma separated for multiple values)
        - in: query
          name: distribution_by_experience_of_flood_code
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
          description: Distribution by experience of flood code (1-5; comma separated for multiple values)

        - in: query
          name: limit
          schema: { type: integer, default: 20 }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: format
          schema:
            type: string
          description: Set to `xlsx` to download as Excel
        - in: query
          name: Format
          schema:
            type: string
            default: JSON
            enum:
            - JSON
            - CSV
          description: Output format (JSON or CSV)

      responses:
        "200":
          description: A JSON array of user information
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
            text/csv:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
      security:
      - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      description: Bearer token to access these api endpoints
      name: Authorization
      in: header
x-original-swagger-version: "2.0"
